body {
    background-color: aquamarine;
}

h1 {
    justify-content: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    margin: 3%;
    justify-content: center;
    overflow: hidden;
}

h2 {
    flex: auto;
    justify-content: center;
    width: 325px;
    border: 10px;
    border-style: dotted;
    border-color: black;
    padding: 50px;
    margin: 20px;
}

#aboutme {
    width: 325px;
    border: 10px;
    border-style: dotted;
    border-color: black;
    padding: 50px;
    margin: 20px;
}

.box-wrapper {
    height: auto;
    width: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
}
#portfolio {
    padding: 20px;
    border: solid;
    color: orange;
}
#contactme {
    padding: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    border: solid;
    color: orange;
}
#firstapplication {
    flex-grow: 2;
    border: solid;
    color: orange;
}