body {
    background-color: aquamarine;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h2 {
    flex: auto;
    justify-content: center;
    width: 325px;
    border: 10px;
    border-style: dotted;
    border-color: black;
    padding: 50px;
    margin: 20px;
}

#aboutme {
    width: 325px;
    border: 10px;
    border-style: dotted;
    border-color: black;
    padding: 50px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    position: relative;
}


.box-wrapper {
box-sizing: border-box;
display: flex;
flex-direction: row;
justify-content: right;
align-items: baseline;
}

#firstapplication {
    width: 325px;
    border: 10px;
    border-style: dotted;
    border-color: black;
    padding: 50px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    position: relative; 
}
#contactme {
    width: 325px;
    border: 10px;
    border-style: dotted;
    border-color: black;
    padding: 50px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    position: relative;
}
